Source: ros-jade-rail-pick-and-place-msgs
Section: misc
Priority: extra
Maintainer: David Kent <dekent@gatech.edu>
Build-Depends: debhelper (>= 9.0.0), ros-jade-actionlib-msgs, ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-message-generation, ros-jade-rail-manipulation-msgs, ros-jade-sensor-msgs
Homepage: http://ros.org/wiki/rail_pick_and_place_msgs
Standards-Version: 3.9.2

Package: ros-jade-rail-pick-and-place-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-actionlib-msgs, ros-jade-geometry-msgs, ros-jade-message-runtime, ros-jade-rail-manipulation-msgs, ros-jade-sensor-msgs
Description: Messages and Services for RAIL Pick and Place
